[submodule "django-mode"]
	path = django-mode
	url = git://github.com/myfreeweb/django-mode.git
[submodule "js2-mode"]
	path = js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "distel"]
	path = distel
	url = git://github.com/massemanet/distel.git
[submodule "soy-mode"]
	path = soy-mode
	url = git://github.com/toomore-such/soy-mode.git
